body {
  font-family: "Times New Roman", Times, serif;
}

html {
  background-color: #f0ead6;
}
.canvas_wrapper{
  padding: 0px 40px;
}
#quote{
  text-align: center;
  padding: 10px 0px;
}
.calendar{
  text-align: center !important;
    width: 57% !important;
    margin: auto !important;
}